* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    list-style: none;
}


// Imports
@import './navbar';
@import './home.scss';
@import './footer';
@import './productos';
@import './input';
@import './register';
@import './_detailsProduct';
@import './myProfile';